<%= form_for(@vehicle_stop_time) do |f| %>
  <% if @vehicle_stop_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle_stop_time.errors.count, "error") %> prohibited this vehicle_stop_time from being saved:</h2>

      <ul>
      <% @vehicle_stop_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :departure_time %><br>
    <%= f.text_field :departure_time %>
  </div>
  <div class="field">
    <%= f.label :vehicle_stop_id %><br>
    <%= f.text_field :vehicle_stop_id %>
  </div>
  <div class="field">
    <%= f.label :vehicle_trip_id %><br>
    <%= f.text_field :vehicle_trip_id %>
  </div>
  <div class="field">
    <%= f.label :sequence %><br>
    <%= f.number_field :sequence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
