<div class="page-header">
  <h1>Listing Vehicle Stop Times</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Departure time</th>
      <th>Vehicle stop</th>
      <th>Vehicle trip</th>
      <th>Sequence</th>
      <th class="options"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_stop_times.each do |vehicle_stop_time| %>
      <tr>
        <td><%= vehicle_stop_time.departure_time %></td>
        <td><%= vehicle_stop_time.vehicle_stop.name %></td>
        <td><%= vehicle_stop_time.vehicle_trip.name %></td>
        <td><%= vehicle_stop_time.sequence %></td>
        <td>
          <%= link_to 'Edit', edit_vehicle_stop_time_path(vehicle_stop_time), :class => 'btn btn-xs btn-info'  %>
          <%= link_to 'Destroy', vehicle_stop_time, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @vehicle_stop_times, renderer: BootstrapPagination::Rails %>