<li id="stop-<%= vehicle_stop.id %>">
  <span class="content">
    <strong>Stop ID: </strong><%= vehicle_stop.id %>
  </span>
  <span class="content">
    <strong>Stop Name: </strong><%= vehicle_stop.name %>
  </span>
  <span class="content">
    <strong>Stop Latitude: </strong><%= vehicle_stop.lat %>
  </span>
  <span class="content">
    <strong>Stop Longitude: </strong><%= vehicle_stop.long %>
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(vehicle_stop.created_at) %> ago.
  </span>
  <span class="stop"><%= link_to 'Edit', edit_vehicle_stop_path(vehicle_stop), :class => 'btn btn-sm btn-primary'  %></span>
  <span class="stop"><%= link_to 'Destroy', vehicle_stop, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %></span>
</li>