<div class="page-header">
  <h1>Listing Vehicle Stops</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Long</th>
      <th class="options"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_stops.each do |vehicle_stop| %>
      <tr>
        <td><%= vehicle_stop.name %></td>
        <td><%= vehicle_stop.lat %></td>
        <td><%= vehicle_stop.long %></td>
        <td>
          <%= link_to 'Edit', edit_vehicle_stop_path(vehicle_stop), :class => 'btn btn-xs btn-info' %>
          <%= link_to 'Destroy', vehicle_stop, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @vehicle_trips, renderer: BootstrapPagination::Rails %>
