<div class="page-header">
  <h1>Listing Vehicle Realtimes <small><%= link_to 'Update GeoLocations', vehicle_realtimes_pull_path %></small></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Vehicle trip</th>
      <th>Vehicle route</th>
      <th>Vehicle stop</th>
      <th>Current status</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Updated At</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_realtimes.each do |vehicle_realtime| %>
      <tr>
        <td><%= vehicle_realtime.vehicle_trip.name %></td>
        <td><%= vehicle_realtime.vehicle_route.long_name %></td>
        <td><%= vehicle_realtime.vehicle_stop %></td>
        <td><%= vehicle_realtime.current_status %></td>
        <td><%= vehicle_realtime.lat %></td>
        <td><%= vehicle_realtime.long %></td>
        <td><%= vehicle_realtime.updated_at %></td>
        <td>
          <%= link_to 'Destroy', vehicle_realtime, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

