<p id="notice"><%= notice %></p>

<h1>Listing Vehicle Trips</h1>

<table>
  <thead>
    <tr>
      <th>Vehicle route</th>
      <th>Service</th>
      <th>Name</th>
      <th>Direction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_trips.each do |vehicle_trip| %>
      <tr>
        <td><%= vehicle_trip.vehicle_route.long_name %></td>
        <td><%= vehicle_trip.service %></td>
        <td><%= vehicle_trip.name %></td>
        <td><%= vehicle_trip.direction %></td>
        <td><%= link_to 'Show', vehicle_trip %></td>
        <td><%= link_to 'Edit', edit_vehicle_trip_path(vehicle_trip) %></td>
        <td><%= link_to 'Destroy', vehicle_trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @vehicle_trips %>

<br>

<%= link_to 'New Vehicle trip', new_vehicle_trip_path %>
