<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle route:</strong>
  <%= @vehicle_trip.vehicle_route %>
</p>

<p>
  <strong>Service:</strong>
  <%= @vehicle_trip.service %>
</p>

<p>
  <strong>Name:</strong>
  <%= @vehicle_trip.name %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @vehicle_trip.direction %>
</p>

<%= link_to 'Edit', edit_vehicle_trip_path(@vehicle_trip) %> |
<%= link_to 'Back', vehicle_trips_path %>
