<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @users_favorite_route.user %>
</p>

<p>
  <strong>Vehicle route:</strong>
  <%= @users_favorite_route.vehicle_route %>
</p>

<%= link_to 'Edit', edit_users_favorite_route_path(@users_favorite_route) %> |
<%= link_to 'Back', users_favorite_routes_path %>
